<app-header [title]="'About Us'"></app-header>
<div class="2xl:px-20 px-6 py-8 bg-white h-full">
  <div class="flex md:flex-row flex-col-reverse md:items-stretch items-center justify-center">
    <div
      class="md:py-20 xl:w-1/2 sm:w-1/2 lg:mr-20 md:mr-6 flex flex-col md:items-end items-center justify-center xl:mr-28">
      <div class="flex flex-col items-center justify-center">
        <div class="m-3 text-3xl font-bold font-garamond text-center text-gray-800">Made To</div>
        <!-- <app-about-entry [aboutEntry]="commentOne"></app-about-entry> -->
        <!-- <app-about-entry [aboutEntry]="commentTwo"></app-about-entry> -->
        <!-- <app-about-entry [aboutEntry]="commentThree"></app-about-entry> -->

      </div>
    </div>


    <div class="mt-30 py-12  xl:w-1/2 lg:w-1/2 sm:w-1/4">
      <img src="assets/images/knitting_400x400.png" alt="Cassandra"
        class="h-full rounded-md object-cover object-center md:block hidden" />
    </div>
  </div>

  <div class="sm:w-140 w-full m-6 mt-0 text-3xl font-semibold font-garamond leading-6 text-center text-gray-600">
    We are proud to partner with the following companies:
  </div>

  <div class="flex 	justify-evenly bg-white h-[200px]">
    <div class="h-20 w-80 rounded-md object-cover object-center block">
      <img src="assets/junecashmerelogo.png" />
    </div>
    <div class="h-20 w-80 rounded-md object-cover object-center block">
      <img src="assets/hircusfilati.png" alt="Cassandra" />
    </div>
    <div class="h-20 rounded-md object-center block">
      <img src="assets/newlogo.png" alt="Cassandra" />
    </div>

  </div>

</div>
