::ng-deep .dx-datagrid .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) > td:not(.dx-focused) {
  background-color: rgb(195, 199, 199);
  border-color: rgb(195, 199, 199);
}

::ng-deep .dx-datagrid-headers {
  background-color: rgb(145, 146, 146);
  border-color: rgb(195, 199, 199);
  margin: 0px;
}

